.partners-card-container {
    display: flex;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.partner-image {
    width: 405px;
}

.partner-image-pic {
    object-fit: contain;
    margin-bottom: 16px;
}

.partners-card-button {
    margin-top: 33px;
    background: #f5f5f0;
}