.reports-wrap {
  padding: 80px 0;
  /* background-color: rgb(196, 185, 185); */
}

.reports-title {
  position: relative;
  margin-bottom: 40px;
  margin-left: 72px;
}

.reports-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -72px;
  width: 56px;
  height: 2px;
  background-color: #4c94ff;
}

.reports-content {
  display: flex;
}

.card-wrap-main {
  width: 515px;
  margin-right: 32px;
}

.card-img-main {
  border-radius: 6px;
}

.card-descr-main {
  padding: 16px 24px 24px;
}

.card-footer-main {
  display: flex;
  justify-content: space-between;
}

.card-link-main {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4c94ff;
}

.card-date-main {
  position: relative;
  font-size: 14px;
  color: #83868b;
}

.card-date-main::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/icn-calendarBlank.svg);
}

.card-list {
  padding: 24px;
  border-radius: 6px;
  background-color: #f5f5f0;
}

.card-item {
  position: relative;
  margin-bottom: 8px;
  padding: 16px 24px 16px 16px;
}

.card-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 16px;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #828282;
}

.card-img-add {
  float: left;
  margin-right: 24px;
  border-radius: 4px;
}

.card-date-add {
  position: relative;
  margin-left: 32px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 17px;
  color: #83868b;
}

.card-date-add::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/icn-calendarBlank.svg);
}
