.region-info-section-wrap {
  padding: 80px 0;
}

.region-info-goToMap {
  margin-bottom: 35px;
}

.region-info-content {
  display: flex;
  justify-content: space-between;
}

.region-info-card {
  width: 621px;
  text-align: center;
}

.region-info-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #272727;
}

.region-info-presentation {
  position: relative;
  width: 100%;
  height: 595px;
  padding: 27px;
}

.region-info-image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.region-info-list {
  position: absolute;
  bottom: 45px;
  left: 64px;
  width: 100%;
  text-align: start;
}

.region-info-item {
  position: relative;
}

.region-info-item:not(:last-child) {
  margin-bottom: 35px;
}

.region-info-item:first-child::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/icn-collectedFunds.svg);
}
.region-info-item:first-child::after {
  content: "Зібрано коштів";
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  line-height: 17px;
  color: #83868b;
}

.region-info-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/icn-completedProjects.svg);
}

.region-info-item:nth-child(2)::after {
  content: "Завершених проектів";
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  line-height: 17px;
  color: #83868b;
}

.region-info-item:last-child::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/icn-volonteersCount.svg);
}

.region-info-item:last-child::after {
  content: "Волонтерів в регіоні";
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  line-height: 17px;
  color: #83868b;
}

.region-info-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.region-info-projects {
  width: 515px;
  text-align: center;
}
