.start-presentation {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: calc(50% - 120px);
  left: calc(50% - 354px);
}

@media screen and (min-width: 1440px) {
  .start-presentation {
    top: calc(50% - 120px);
    left: calc(50% - 640px);
  }
}

.start-presentation-info {
  color: #ffffff;
}

.start-presentation-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .start-presentation-title {
    font-size: 28px;
  }
}

.start-presentation-description {
  width: 347px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 1440px) {
  .start-presentation-description {
    width: 547px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .start-presentation-btn-container {
    display: flex;
  }
  .start-presentation-button-request {
    margin-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .start-presentation-button-request {
    margin-right: 32px;
  }
}
