.slider-nav-buttons {
    position: relative;
    left: 90%;
    display: flex;
    width: 120px;
    margin-bottom: 24px;
    margin-right: 39px;
    align-items: center;
    justify-content: space-between;
}
