/* HEADER STYLES */
.nav-list-header {
  position: absolute;
  top: 84px;
  left: -15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(255, 255, 255) 40%, rgba(60, 60, 60) 100%);
}

@media screen and (min-width: 768px) {
  .nav-list-header {
    position: static;
    flex-direction: row;
    justify-content: center;
    background: none;
  }
}

.nav-item-header:not(:last-child) {
  margin-right: 16px;
}

.nav-text-header {
  padding: 8px 16px;
  color: #4c94ff;
}

@media screen and (min-width: 768px) {
  .nav-text-header {
    color: #c3c3c3;
  }
}

.active .nav-text-header {
  margin-right: 16px;
}

.active .nav-text-header {
  color: #4c94ff;
  border-bottom: 1px solid #4c94ff;
}

.active:hover .nav-text-header {
  border-bottom: 1px solid #ffffff;
}

.active:focus .nav-text-header {
  border-bottom: 1px solid #ffffff;
}

.nav-link-header,
.nav-link-footer {
  text-decoration: none;
}

.nav-link-header:focus .nav-text-header {
  color: #ffffff;
}

.nav-link-header:hover .nav-text-header {
  color: #ffffff;
}

.active:hover .nav-text {
  border-bottom: 1px solid #ffffff;
}

.active:focus .nav-text {
  border-bottom: 1px solid #ffffff;
}

.nav-link {
  text-decoration: none;
}

.nav-link:focus .nav-text {
  color: #ffffff;
}

.nav-link:hover .nav-text {
  color: #ffffff;
}

/* FOOTER STYLES */
.nav-item-footer:not(:last-child) {
  margin-bottom: 18px;
}

.nav-text-footer {
  text-decoration: none;
  color: #83868b;
}

.nav-text-footer:hover {
  font-weight: 600;
  color: #4c94ff;
}
