.page_404 {
    padding: 40px 0;
    background: #ffffff;
    font-family: inherit;
}

.page_404-title {
    color: #4c94ff;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    height: 550px;
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 90px;
    text-align: center;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.content_box_404 {
    margin-top: -100px;
    text-align: center;
}

.content_box_404-text {
    margin-top: 10px;
}

.link-home {
    margin-top: 20px !important;
}
