.admin-login-container {
    width: 150px;
    height: 150px;
    padding: 10% 0 0 20%;
}

.admin-login-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
    position: absolute;
    visibility: hidden;
    bottom: 150%;
    left: 50%;
    width: 150px;
    margin-left: -60px;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: black;
    border-radius: 6px;
    z-index: 1;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
