@import "react-alice-carousel/lib/alice-carousel.css";

.partners-section-wrap {
  position: relative;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .partners-section-wrap {
    padding: 40px 0;
  }
}

@media screen and (min-width: 1440px) {
  .partners-section-wrap {
    padding: 80px 0;
  }
}

.partners-card-wrap {
  padding: 0 15px;
}

.partners-card-wrap::after {
  content: "\00A9";
  position: absolute;
  top: 290px;
  right: 20px;
}
