@import "react-alice-carousel/lib/alice-carousel.css";

.partners-section-wrap {
  padding: 80px 0;
}

.partners-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
