.footer-bgc {
  background-color: #f5f5f0;
}

.footer-wrap {
  position: relative;
  display: flex;
  padding: 25px 0 20px 0;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    padding: 50px 0 40px 0;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-contacts {
    margin-right: 200px;
  }
}

.footer-middle {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-middle {
    display: flex;
  }
}

.footer-support {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-support {
    display: block;
    margin-left: auto;
  }
}

.footer-nav {
  margin-right: 35px;
}

@media screen and (min-width: 1440px) {
  .footer-nav {
    margin-right: 140px;
  }
}

.footer-title {
  margin-bottom: 21px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #272727;
}

.footer-address {
  font-style: normal;
}

.footer-address:hover {
  color: #4c94ff;
}

.contacts-link {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  color: #83868b;
}

.contacts-link:hover {
  color: #4c94ff;
}

.contacts-link + .contacts-link {
  margin-bottom: 26px;
}
