.block-container {
    margin-top: 20px;
}

.block-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
}

.block-text {
    width: 357px;
    font-weight: 400;
    font-size: 14px;
    color: #83868B;
}
