.our-team-section-wrap {
  padding: 80px 0;
}

.our-team-section-container {
  text-align: center;
}

.our-team-img {
  margin-bottom: 24px;
}

.our-team-description-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.our-team-description-text {
  margin: 0 auto;
  width: 740px;
  font-size: 14px;
  line-height: 22px;
}
