.our-team-section-wrap {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .our-team-section-wrap {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1440px) {
  .our-team-section-wrap {
    padding: 80px 0;
  }
}

.our-team-section-container {
  text-align: center;
}

.our-team-img {
  width: 100%;
  margin-bottom: 24px;
}

.our-team-description-title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .our-team-description-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .our-team-description-title {
    font-size: 20px;
    line-height: 24px;
  }
}

.our-team-description-text {
  width: 740px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .our-team-description-text {
    line-height: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .our-team-description-text {
    font-size: 14px;
    line-height: 22px;
  }
}
