@media screen and (min-width: 768px) {
    .hero-video {
        position: absolute;
        top: 0;
        left: calc(50% - 384px);
        width: 768px;
        z-index: -1;
    }
}

@media screen and (min-width: 1440px) {
    .hero-video {
        position: absolute;
        top: 0;
        left: calc(50% - 720px);
        width: 1440px;
        z-index: -1;
    }
}
