.about-us-section-wrap {
    display: flex;
    margin: 42px 0 160px;
    justify-content: space-evenly;
}

.vertical-line {
    width: 2px;
    height: 260px;
    margin: 0 40px;
    background: #828282;
}
